@charset "UTF-8";
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: small;
background-color: bisque;
}
h1{
    font-size: 3em;
}
section{
    background-color: aquamarine;
    
}
form{
    text-align: center;
    font-size: 2.3em;
    
    
}
div#res1{
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    height: 450px;
    width: 300px;
    text-align: center;
}
p#res{
    font-size: 2.4em;
    text-align: justify;
    margin-left: 20%;
    }